.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
  text-shadow: 1px 2px 3px #808080;
}

.photo {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  margin: auto;
  opacity: 0.8;
  text-shadow: 1px 2px 3px #808080;
}

@media screen and (min-width: 959px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .photo {
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
  }
}

@media screen and (max-width: 1024px) {
  /* 1024px以下に適用されるCSS（スマホ用） */
  .photo {
    top: -20%;
    left: 0%;
    /* display: none; */
  }
}

@media screen and (max-width: 425px) {
  /* 425px以下に適用されるCSS（スマホ用） */
  .photo {
    /* width: 21rem;
    height: 14rem; */
    top: 0%;
    left: 0%;
  }
}

@media screen and (max-width: 320px) {
  /* 320px以下に適用されるCSS（スマホ用） */
  .photo {
    top: -50%;
    left: 0%;
  }
}

.photo:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100px;
  height: auto;
  background: red;
  content: "厳選和牛"; /* 表示するテキスト */
  text-align: center;
  color: #fff;
  font-family: "New Tegomin";
  font-weight: bold;
  padding: 5 px 10px;
  left: -30px;
  top: 3px;
  transform: rotate(-30deg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
